.wrapper{
    background-color: #F0EFF2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 500px;
    white-space: nowrap;
}

.current-condition{
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #C8C8C8;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
}

.date{
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    width: 350px;
    margin: 0 auto;display: flex;
    align-items: center;
    justify-content: center;
}

.time{
    width: 260px;
    margin: 0 auto 74px;
    height: 97px;
    font-weight: 700;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock-action{
    display: flex;
    gap: 82px;
    justify-content: center;
}

.clock-action input{
    width: 221px;
    height: 77px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
}

.clock-action--black{
    background-color: #000000;
    color: #ffffff;
}

.clock-action--white{
    background-color: #ffffff;
    color: #000000;
}
.clock-action p{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.2em;
}

@media (min-width: 1400px) and (max-width: 1540px){
    .content {
        width: 600px;
    }

    .current-condition {
        width: 110px;
        height: 50px;
        font-size: 22px;
    }

    .date {
        font-size: 44px;
        width: 470px;
    }

    .time {
        width: 280px;
        margin: 0 auto 84px;
        height: 107px;
        font-size: 84px;
    }

    .clock-action {
        gap: 87px;
    }

    .clock-action input {
        width: 231px;
        height: 87px;
        border-radius: 20px;
        font-size: 36px;
    }

    .clock-action p {
        font-size: 30px;
        letter-spacing: 0.2em;
    }
}

@media (min-width: 768px) and (max-width: 850px){
    .wrapper{
        align-items: flex-start;
        padding-top: 70px;
    }

    .content {
        width: 500px;
    }

    .current-condition {
        width: 60px;
        height: 30px;
        font-size: 14px;
    }

    .date {
        font-size: 20px;
        width: 180px;
    }

    .time {
        width: 121px;
        margin: 0 auto 37px;
        height: 50px;
        font-size: 35px;
    }

    .clock-action {
        gap: 30px;
    }

    .clock-action input {
        width: 110px;
        height: 40px;
        font-size: 24px;
        border-radius: 10px;
    }

    .clock-action p {
        font-size: 18px;
        letter-spacing: 0.2em;
    }
}
